html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  width: 600px;
  margin: 0 auto;
}

#top-companies {
  border: 2px solid #aaa;
  margin-top: 20px;
}

.details {
  text-align: center;
  border-bottom: 2px solid #aaa;
  border-right: 2px solid #aaa;
  border-left: 2px solid #aaa;
}

#company {
  font-size: 30px;
  font-weight: 400;
  padding: 10px 0;
  color: #05A6F0;
  border-bottom: 1px solid #aaa;
}

.row div {
  display: inline-block;
  font-weight: 300;
  text-align: left;
  font-size: 18px;
  padding: 10px 0;
}

.left {
  width: 240px;
  text-align: left;
}

.right {
  width: 320px;
  text-align: left;
}

